@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
}

h1 {
    text-align: center;
    padding: 1.3em;
    font-size: 3.5em;
}

.bg {
    background: linear-gradient(to top, #ef3b36, #ffffff);
    height: 100vh;
}


.video-form {
    display: flex;
    justify-content: center;
}

.video-input {
    margin: 0 20px;
    font-size: 34px;
    margin-bottom: 2em;
    display: flex;
}

video {
    display: block;
    margin: auto;
    width: 800px;
}